<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src={{searchedProd.Img}} class="img-fluid" alt="Product Image">
      </div>
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <h2>{{searchedProd.Name}}</h2>
        <p>Description : Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Price : $ {{searchedProd.Price}}</p>
        <p>In Stock : {{searchedProd.Quantity}}</p>
        <button type="button" class="btn btn-warning" routerLink="/products" routerLinkActive="router-link-active">Go Back</button>
      </div>
    </div>
  </div>